# Public Contact & Profile Information
VITE_CONTACT_EMAIL=abinrphilip34@gmail.com
VITE_CONTACT_PHONE=+91 80759 06338
VITE_CONTACT_PHONE_TEL=+918075906338
VITE_GITHUB_URL=https://github.com/abinr843
VITE_LINKEDIN_URL=https://www.linkedin.com/in/abinr-philip-60b371354/

# Production Contact Form Access Key (Web3Forms free API key)
# Get your free key at https://web3forms.com
VITE_WEB3FORMS_ACCESS_KEY=your_web3forms_access_key_here
